version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pizzaapp
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d:ro

  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgres://postgres:postgres@db:5432/pizzaapp"
    depends_on:
      - db
  app-dev:
    profiles:
      - dev
    build:
      context: .
      args:
        INSTALL_DEV: "true"
    ports:
      - "3001:3000"
    environment:
      DATABASE_URL: "postgres://postgres:postgres@db:5432/pizzaapp"
    depends_on:
      - db

volumes:
  postgres_data:
